body {
  font-family: fantasy;
  -webkit-text-stroke: 1px #ffffff;
  text-shadow: -2px 2px 5px #ffffff, 2px 2px 5px #ffffff, 2px -2px 5px #ffffff,
    -2px -2px 5px #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: center; */
  margin: auto 50%;
}
.clock {
  font-size: 200px;
}
.hex {
  font-size: 100px;
}
